{% extends "main_template.html" %}

{% from "macros/dropdowns.html" import collapsibleHead with context %}
{% from "macros/dropdowns.html" import collapsibleItems with context %}

{% block title %}Lending{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="container">
      <br>
      <h4 class="text-center">Info on DeFi lending projects</h4>
      <br>

      <table class="table">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Lending Rate</th>
          <th scope="col">Borrow Rate</th>
        </tr>
        {% for project in projects %}
        <tr>
          <th scope="row">{{ project.name }}</th>
          <td>{{ project.lend_rates.composite }}{% if project.lend_rates.composite %}%{% else %}NA{% endif %}</td>
          <td>{{ project.borrow_rates.composite }}{% if project.borrow_rates.composite %}%{% else %}NA{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <br>
  </div>

{% endblock %}

{% block footer %}&#169 Das Machine Design{% endblock %}
